@charset "UTF-8";
.l_hotlist {
  position: relative;
  top: -20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-block: 3rem;
}
.l_hotlist .col_hotlist {
  width: 100%;
  box-shadow: inset 0 -10px 0 rgba(255, 255, 255, 0.082);
}
.l_hotlist .hotlist_side {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1;
  width: 70px;
  height: 100%;
}
.l_hotlist .hotlist_side.side_left {
  left: 0;
}
.l_hotlist .hotlist_side.side_right {
  right: 0;
}
.l_hotlist .hotlist_side .line_block {
  padding-top: 10px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l_hotlist .hotlist_side .line_block .line {
  width: 100%;
  height: 5px;
  background: white;
  opacity: 0.3;
}
.l_hotlist .hotlist_side .line_block.line_block_bottom {
  position: absolute;
  bottom: 10px;
}

.hotlist_card {
  position: relative;
  padding-block: 30px;
  width: 100%;
}
.hotlist_card a {
  position: relative;
  top: -40px;
  left: 2%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotlist_card a img {
  height: 200px;
}
.hotlist_card .hotlist_card_rank {
  position: absolute;
  top: -1%;
  left: -5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  width: 50px;
  height: 48px;
  z-index: 5;
}
.hotlist_card .hotlist_card_rank span {
  background-color: var(--black);
  color: var(--white);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.hotlist_card .hotlist_card_content {
  position: relative;
  top: 20px;
  width: 350px;
  height: 270px;
  font-size: 0.9rem;
  transition: transform 0.5s ease;
  /* 銷售量底板 */
  /* 價格 */
}
.hotlist_card .hotlist_card_content .sale_block {
  position: relative;
  display: flex;
  white-space: nowrap;
  align-items: center;
  max-width: 150px;
  height: 30px;
  padding: 5px 16px;
  border: 3px solid var(--black);
  border-radius: 8px;
  background-color: #e52e2e;
  color: var(--white);
  font-family: "zpix";
}
.hotlist_card .hotlist_card_content .sale_block::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  bottom: 10%;
  left: 5%;
}
.hotlist_card .hotlist_card_content .sale_block::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  top: 10%;
  right: 5%;
}
.hotlist_card .hotlist_card_content .sale_block span {
  padding-inline: 5px;
  font-size: 20px;
  font-weight: bolder;
}
.hotlist_card .hotlist_card_content > div {
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
}
.hotlist_card .hotlist_card_content:hover {
  background-color: var(--main-colorpurple);
  transform: scale(1.05);
}

.hotlist_btn_group {
  display: flex;
  gap: 16px;
  padding-inline: 12px;
}

/* 修改Slider樣式 */
.custom_slider ul {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .l_hotlist .hotlist_side {
    width: 50px;
  }
  .l_hotlist .hotlist_side .line_block {
    width: 30px;
  }
  .l_hotlist .hotlist_card a img {
    height: 150px;
  }
  .l_hotlist .hotlist_card .hotlist_card_content {
    width: 200px;
  }
  .hotlist_btn_group {
    flex-direction: column;
  }
}/*# sourceMappingURL=hot-list.module.css.map */